@layer base {
  :root {
    --font-inter: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    --color-border: 210 40% 96%;
    --color-input: 210 40% 96%;
    --color-ring: 210 40% 50%;
    --color-background: 0 0% 100%;
    --color-foreground: 210 40% 3.9%;
    --color-primary: 210 40% 50%;
    --color-primary-foreground: 210 40% 100%;
    --color-secondary: 210 14% 83%;
    --color-secondary-foreground: 210 8.3% 14%;
    --color-destructive: 0 84% 60%;
    --color-destructive-foreground: 210 40% 98%;
    --color-muted: 210 11% 71%;
    --color-muted-foreground: 210 10% 40%;
    --color-accent: 210 100% 50%;
    --color-accent-foreground: 210 40% 100%;
  }

  .dark {
    --color-border: 210 13% 17%;
    --color-input: 210 13% 17%;
    --color-ring: 210 100% 50%;
    --color-background: 210 40% 3.9%;
    --color-foreground: 210 40% 98%;
    --color-primary: 210 100% 50%;
    --color-primary-foreground: 210 40% 3.9%;
    --color-secondary: 210 13% 27%;
    --color-secondary-foreground: 210 14% 83%;
    --color-destructive: 0 84% 60%;
    --color-destructive-foreground: 210 8% 5%;
    --color-muted: 210 12% 33%;
    --color-muted-foreground: 210 14% 65%;
    --color-accent: 210 100% 50%;
    --color-accent-foreground: 210 40% 3.9%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-balance {
    text-wrap: balance;
  }

  .transform-gpu {
    @apply transform will-change-transform;
  }
}